.droppable {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid rgba(201, 211, 219, 0.5);
  transition: box-shadow 250ms ease;
  display: flex;
  justify-content: center;

  &.correct-answer {
    border: 2px solid green;
  }

  &.not-correct-answer {
    border: 2px solid red;
  }

  &.over {
    box-shadow: inset #1eb99d 0 0 0 3px, rgba(201, 211, 219, 0.5) 20px 14px 24px;

    &.dropped {
      box-shadow: inset rgba(201, 211, 219, 0.7) 0 0 0 3px,
        rgba(201, 211, 219, 0.5) 20px 14px 24px;
    }
  }
}