.game {
  .title {
    text-align: center;
  }

  .container {
    display: flex;
    justify-content: space-between
  }

  .non-classified-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    grid-template-areas:
      "header0 header1 header2 header3"
      "lineName0 cell cell cell"
      "lineName1 cell cell cell"
      "lineName2 cell cell cell"
      "lineName3 cell cell cell"
    ;
  }

  .header-0 {
    grid-area: header0;
  }

  .header-1 {
    grid-area: header1;
  }

  .header-2 {
    grid-area: header2;
  }

  .header-3 {
    grid-area: header3;
  }

  .line-name-0 {
    grid-area: lineName0;
  }

  .line-name-1 {
    grid-area: lineName1;
  }

  .line-name-2 {
    grid-area: lineName2;
  }

  .line-name-3 {
    grid-area: lineName3;
  }

  .line {
    text-align: center;
    align-content: center;
  }

  .footer {
    display: flex;
    justify-content: end;
    gap: 16px;
  }

  .highlight-article {
    background-color: lightsalmon;
  }
}